<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
  <div class="container-fluid">
    <a routerLink="dashboard" routerLinkActive="active" class="navbar-brand">Smart School</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="alunos">Alunos<span class="sr-only">(aria-current)</span></a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" routerLinkActive="active" routerLink="professores">Professores</a>
        </li>
      </ul>
   
      <ul class="navbar-nav" dropdown>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="button-basic" dropdownToggle
           id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
           style="cursor:pointer" aria-expanded="false">
           Iara Karolina
          </a>
          <div id="dropdown-basic" *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="perfil">Perfil</a></li>
            <li><a class="dropdown-item" href="#">Sair</a></li>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</nav>